<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings><add name="assessment_quality_materialsEntities" connectionString="metadata=res://*/NitinolEntities.csdl|res://*/NitinolEntities.ssdl|res://*/NitinolEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FS4JULP;initial catalog=assessment_quality_materials_new;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="assessment_quality_materialsEntities1" connectionString="metadata=res://*/NitinolEntities.csdl|res://*/NitinolEntities.ssdl|res://*/NitinolEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FS4JULP;initial catalog=assessment_quality_materials;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <!--<add name="assessment_quality_materialsEntities" connectionString="data source=DESKTOP-FS4JULP;initial catalog=assessment_quality_materials_new;User Id=sa; Password=123;" providerName="System.Data.SqlClient" />-->
  <add name="assessment_quality_materialsEntities" connectionString="metadata=res://*/NitinolEntities.csdl|res://*/NitinolEntities.ssdl|res://*/NitinolEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FS4JULP;initial catalog=assessment_quality_materials_new;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework;User Id=sa; Password=123;&quot;" providerName="System.Data.EntityClient" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>