@model NitinolProject.Web.Models.Metal.MetalSampleModel

@{
    ViewBag.Title = "AddMetalSample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
    label {
        text-align: left !important;
    }
</style>*@
@Scripts.Render("~/bundles/jqueryval")

<h2 style="text-align: center;">Редагування зразку металу: ViewBag.MetalTypeName</h2>

@using (Html.BeginForm("EditMetalSample", "Metal", FormMethod.Post, new { id = "add_metal_form", enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <hr />
        @Html.EditorFor(model => model)
        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                <input type="submit" value="Редагувати" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/metal/index" class="btn btn-primary">Повернутися до списку металів</a>
    @*@Html.ActionLink("Back to List", "Index", "Metal", new { @class = "btn btn-primary" })*@
</div>