@using Kendo.Mvc.UI
@using NitinolProject.Web.Models.Metal

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .k-grid  .k-grid-header  .k-header  .k-link {
        height: auto;
    }
  
    .k-grid  .k-grid-header  .k-header {
        white-space: normal;
    }
    h1 {
        text-align: center;
    }
</style>

<div class="panel-body">
<h1>Вихідні дані по металу</h1>
@(Html.Kendo().Grid<MetalSampleGridModel>()
      .Name("Samples")
      .Columns(columns =>
      {
          columns.Bound(p => p.SampleNumber).Title("Номер зразку").Width(110);
          columns.Bound(p => p.Name).Title("Назва металу").Width(120);
          columns.Bound(p => p.CrystalLatticeName).Title("Решітка").Width(80);
          columns.Bound(p => p.LoadingSpeed).Title("Швидкість навантаження V, м/с");
          columns.Bound(p => p.LateralShearRate).Title("Поперечна швидкість зсуву Vt, м/с");
          columns.Bound(p => p.LongitudinalShearRate).Title("Поздовжня швидкість зсуву Vl, м/с");
          columns.Bound(p => p.ShearStrainRate).Title("Швидкість деформації зсуву γ, 10^(-6) c^(-1)");
          columns.Bound(p => p.SpallStrength).Title("Міцність відколу σ, МПа");
      })
      .Scrollable(a => a.Height(200))
      .Pageable()
      .HtmlAttributes(new { style = "margin-bottom: 15px;" })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(5)
          .ServerOperation(true)
          .Read(read => read.Action("GetMetalSamples", "Metal"))
      ))

    <a href="/metal/addmetalsample" class="btn btn-primary">Додати зразок</a>
    @*@Html.ActionLink("Додати зразок", "AddMetalSample", "Metal", new { @class = "btn btn-primary" })*@
    
    

    <h1>Значення рівня якості зразків металу</h1>
    @(Html.Kendo().Grid<MetalSampleQualityModel>()
          .Name("Qualities")
          .Columns(columns =>
          {
              columns.Bound(p => p.Name).Title("Метал").Width(120);
              columns.Bound(p => p.LoadingSpeed).Title("У(V)");
              columns.Bound(p => p.LateralShearRate).Title("У(Vt)");
              columns.Bound(p => p.LongitudinalShearRate).Title("У(Vl)");
              columns.Bound(p => p.ShearStrainRate).Title("У(γ)");
              columns.Bound(p => p.SpallStrength).Title("У(σ)");
              columns.Bound(p => p.QualityRate).Title("Рівень якості Ук");
              columns.Bound(p => p.MetalSampleId).Hidden(true);
              columns.Template(e => { }).Title("").Width(80).ClientTemplate(
                  "<a style='margin-right: 2px;' class='btn btn-info btn-sm' href='/metal/metalsampledetails?id=#: data.MetalSampleId #'>Деталі</a>");
              //"<button data-toggle='tooltip' data-placement='top' title='Delete' onclick='removeCarrierContact(#: data.CarrierContactId #)' type='button' class='btn btn-white btn-sm'><i class='fa fa-trash color-red'></i></button>");
          })
          .Scrollable(a => a.Height(250))
          .Pageable()
          .HtmlAttributes(new { style = "margin-bottom: 15px;" })
          .Events(e => e.DataBinding("qualitiesDataBinding"))
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(7)
              .ServerOperation(true)
              .Read(read => read.Action("GetMetalSampleQualities", "Metal"))
          ))
    <h4 id="qualityResult" style="display: none;"></h4>
    
</div>

<div id="example">
    <div class="k-content wide">
        <div id="chart"></div>
    </div>
    <script>
        $(function() {
            var chartsData =
                @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ChartsData));

            function createChart() {
                $("#chart").kendoChart({
                    title: {
                        text: "Циклограма якості металів"
                    },
                    legend: {
                        position: "right"
                    },
                    seriesDefaults: {
                        type: "radarLine"
                    },
                    series: chartsData,
                    categoryAxis: {
                        categories: [
                            "Міцність відколу У(σ)", "Швидкість навантаження У(V)", "Швидкість деформації зсуву У(γ)",
                            "Поздовжня швидкість зсуву У(Vl)", "Поперечна швидкість зсуву У(Vt)"
                        ]
                    },
                    valueAxis: {
                        labels: {
                            format: "{0}"
                        }
                    },
                    tooltip: {
                        visible: true,
                        format: "{0}"
                    }
                });

                $("#chart").css("width", "900px").css("height", "750px").data("kendoChart").resize();
            }

            $(document).ready(createChart);
            $(document).bind("kendo:skinChange", createChart);

        });

        function qualitiesDataBinding(e) {
            var qualityRates = new Array;
            qualityRates = jQuery.map( e.items, function( item ) {
                return item.QualityRate;
            });
            var maxQualityRate = Math.max.apply(null, qualityRates);

            var selectedItem = $.grep(e.items, function (e) {
                return e.QualityRate === maxQualityRate;
            });

            var text = "Кращий зразок - зразок №" + selectedItem[0].SampleNumber + ", з рівнем якості Ук = " + maxQualityRate + ".";
            $('#qualityResult').text(text);
            $('#qualityResult').show();
        }
    </script>
</div>

