@using Kendo.Mvc.UI
@using NitinolProject.Web.Models.Metal
@model MetalSampleModel
@{
    ViewBag.Title = "MetalSampleDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center;">Дані для рівня якості зразка металу №@Model.SampleNumber</h1>
<script src="~/Scripts/Chart.min.js"></script>
<div class="panel-body">
    @(Html.Kendo().Grid<MetalSampleQualityRateModel>()
          .Name("Samples")
          .Columns(columns =>
          {
              columns.Bound(p => p.SampleProperty).Title("Характеристика зразку");
              columns.Bound(p => p.BaseValue).Title("Базове значення");
              columns.Bound(p => p.SampleValue).Title("Значення зразку");
              columns.Bound(p => p.RelativeValue).Title("Відносне значення, ri");
              columns.Bound(p => p.CoefficientWeighting).Title("Коефіцієнт вагомості, αi");
              columns.Bound(p => p.Angle).Title("φ, град");
          })
          .Scrollable(a => a.Height(270))
          .HtmlAttributes(new { style = "margin-bottom: 15px;" })
          .DataSource(dataSource => dataSource

              .Ajax()
              .ServerOperation(true)
              .Read(read => read.Action("GetMetalSampleProperties", "Metal", new { sampleId = Model.MetalSampleId }))
          ))


    @*<h4> Середньо зважений круговий показник = @ViewBag.CoeficientK</h4>*@    
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2 style="text-align: center;">
                    Діаграма
                </h2>

            </div>
            <div class="ibox-content">
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<div class="row">
    <a href="/metal/index" class="btn btn-primary">Повернутися до списку металів</a>
    @*@Html.ActionLink("Повернутися до списку металів", "Index", "Metal", new {@class = "btn btn-primary"})*@
</div>

<script>
    $.get('@Url.Action("GetMetalPieChartData", "Metal", new {sampleId = Model.MetalSampleId})', function (response) {
        var socialPieChart = new Chart(document.getElementById("pieChart"), {
            type: 'bar',
            data: {
                labels: response.Labels,
                datasets: [
                    {
                        data: response.Data,
                        backgroundColor: [
                            "#F53333",
                            "#FFA500",
                            "#FFD700",
                            "#6B8E23",
                            "#1E90FF",
                            "#FF00FF"
                        ],
                        hoverBackgroundColor: [
                            "#F53333",
                            "#FFA500",
                            "#FFD700",
                            "#6B8E23",
                            "#1E90FF",
                            "#FF00FF"
                        ]
                    }]
            },
            options: {
                legend: {
                    position: 'none',
                },

                animation: {
                    animateScale: true,
                    animateRotate: true
                },
                tooltips: {
                    position: 'nearest',
                    caretPadding: 20
                }
            }
        });
    });
</script>

