@model NitinolProject.Web.Models.Alloy.NicelideTitanumSampleModel

@{
    ViewBag.Title = "AddAlloySample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">Додання зразку сплаву</h2>


    @using (Html.BeginForm("AddAlloySample", "Home", FormMethod.Post, new { id = "add_metal_form", enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
        <hr />
        @Html.EditorFor(model => model)
        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                <input type="submit" value="Створити" class="btn btn-success" />
            </div>
        </div>
        </div>
    }


<div>
    <a href="/home/index" class="btn btn-primary">Повернутися до списку сплавів</a>
</div>
<script>
    $("#add_metal_form").validate({
        rules: {
            NickelideTitaniumAlloyName: {
                required: true
            },
            SampleNumber: {
                required: true,
                maxsamplenumber: true
            },
            SampleThickness: {
                required: true,
                maxSampleThickness:true
            },
            HammerThickness: {
                required: true,
                maxHammerThickness:true
            },
            HammerSpeed: {
                required: true,
                maxHammerSpeed: true,
            },
            SpallSpeed: {
                required: true,
                maxSpallSpeed:true
            },
            SpallStrength: {
                required: true,
                maxSpallStrength:true
            }
        },
        messages: {
            NickelideTitaniumAlloyName: {
                required: "Це поле обов'язкове",
            },
            SampleNumber: {
                required: "Це поле обов'язкове",
            },
            SampleThickness: {
                required: "Це поле обов'язкове",
            },
            HammerThickness: {
                required: "Це поле обов'язкове",
            },
            HammerSpeed: {
                required: "Це поле обов'язкове",
            },
            SpallSpeed: {
                required: "Це поле обов'язкове",
            },
            SpallStrength: {
                required: "Це поле обов'язкове",
            },
        },
        errorPlacement: function (error, element) {
            var placement = $(element).data('error');
            if (placement) {
                $(placement).append(error);
            } else {
                error.insertAfter(element);
            }
        }
    });
    </script>